<div class="row">
  <div class="span4">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>

    <fieldset>

      <legend>Sign Up</legend>
        
      <%= devise_error_messages! %>
      <%= f.input :first_name %>

      <%= f.input :last_name %>

      <%= f.input :profile_name %>

      <%= f.input :email %>

      <%= f.input :password %>

      <%= f.input :password_confirmation %>
      

      <div><%= f.button :submit, "Sign up" %></div>
  </fieldset>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>

  <div class=" wht_background2">
      <h4 class="header4">Signing up is easy and free</h4>
      <p class="welcome-text3">To set up your profile picture go to <a href="http://www.gravatar.com" target="_blank">GRAVATAR.COM</a>. Gravatar is a globally recognized avatar and when you use Gravatar to set up your profile image it will follow you from site to site appearing beside your name on many well known websites such as WordPress and github. </p>
  </div>  
</div>
</div>